<!--Created By Saksham Agarwal- 19323666-->
<!--Import Vue.js distribution-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<html>
    <head>
        <title>Weather Predictor Assignment 1</title>
    </head>
    <div id="app">
        <h1>Welcome to the weather forecasting by OpenWeather API</h1>
        <h2>CSU 44000 - Internet Applications:</h2>
        <h3> By:- Saksham Agarwal</h3>
        <h4>Date/Time: <span id="datetime"></span></h4>
        <div>Enter the City: <input v-model="location">  
        <button v-on:click="Weatherprediction">Check</button></div>
        <br>
        <div v-if="Umbrella != 'N'">
            {{Umbrella}}
        </div>
        {{Clothes}}
        <br>

        <table border="1">
            <thead>
                <tr>
                    <th>Date</th>                 
                    <th>Temperature (°Celsius)</th>
                    <th>Rainfall (millimeters)</th>
                    <th>Wind Speed (meter/seconds)</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in forecast">
                    <td v-for="variable in row">
                        {{variable}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                location: "",
                forecast: [],
                Umbrella: "",
                Clothes: " "
            },
            methods: {
                Weatherprediction: Weatherprediction
            }
        })
        var dt = new Date();
        document.getElementById("datetime").innerHTML = (("0"+dt.getDate()).slice(-2)) +"."+ (("0"+(dt.getMonth()+1)).slice(-2)) +"."+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2));

        
        function Weatherprediction() {
            let prom = fetch("weather/" + this.location)
            prom.then(response => response.json())
                .then(response => {
                    this.forecast = response.forecastList
                    this.Umbrella = response.Umbrella
                    this.Clothes = response.Clothes
                })
        }
        
    </script>
</html>